In [2]:
import pandas as pd
df=pd.read_csv('avocado1.csv')

In [5]:
df.head()

,Unnamed: 0,Date,AveragePrice,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [7]:
df["Date"].head()

0    2015-12-27
1    2015-12-20
2    2015-12-13
3    2015-12-06
4    2015-11-29
Name: Date, dtype: object

In [9]:
df.Date.head()

0    2015-12-27
1    2015-12-20
2    2015-12-13
3    2015-12-06
4    2015-11-29
Name: Date, dtype: object

In [13]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df[10:202]

,Unnamed: 0,Date,AveragePrice,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
10,10,2015-10-18,1.12,84843.44,8205.66,7877.86,327.80,0.0,conventional,2015,Albany
11,11,2015-10-11,1.28,64489.17,10123.90,9866.27,257.63,0.0,conventional,2015,Albany
12,12,2015-10-04,1.31,61007.10,8756.75,8379.98,376.77,0.0,conventional,2015,Albany
13,13,2015-09-27,0.99,106803.39,6034.46,5888.87,145.59,0.0,conventional,2015,Albany
14,14,2015-09-20,1.33,69759.01,9267.36,8489.10,778.26,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...
197,41,2015-03-15,1.00,65918.28,4445.90,4445.90,0.00,0.0,conventional,2015,Boise
198,42,2015-03-08,1.14,65350.24,4860.43,4860.43,0.00,0.0,conventional,2015,Boise
199,43,2015-03-01,1.06,75046.37,7237.98,6478.75,759.23,0.0,conventional,2015,Boise
200,44,2015-02-22,0.99,76836.10,7467.27,7235.20,232.07,0.0,conventional,2015,Boise
201,45,2015-02-15,1.14,61221.98,5340.86,3647.52,1693.34,0.0,conventional,2015,Boise

In [17]:
df.loc[10:14]

,Unnamed: 0,Date,AveragePrice,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
10,10,2015-10-18,1.12,84843.44,8205.66,7877.86,327.80,0.0,conventional,2015,Albany
11,11,2015-10-11,1.28,64489.17,10123.90,9866.27,257.63,0.0,conventional,2015,Albany
12,12,2015-10-04,1.31,61007.10,8756.75,8379.98,376.77,0.0,conventional,2015,Albany
13,13,2015-09-27,0.99,106803.39,6034.46,5888.87,145.59,0.0,conventional,2015,Albany
14,14,2015-09-20,1.33,69759.01,9267.36,8489.10,778.26,0.0,conventional,2015,Albany

In [28]:
df_date=df.set_index("Date")
df_date.loc["2015-10-04"]

,Unnamed: 0,AveragePrice,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
Date,,,,,,,,,,
2015-10-04,12,1.31,61007.10,8756.75,8379.98,376.77,0.00,conventional,2015,Albany
2015-10-04,12,0.96,418682.26,59460.41,14875.64,44584.77,0.00,conventional,2015,Atlanta
2015-10-04,12,1.28,657444.04,172234.02,167494.61,4739.41,0.00,conventional,2015,BaltimoreWashington
2015-10-04,12,1.12,59496.33,5968.42,5462.15,504.65,1.62,conventional,2015,Boise
2015-10-04,12,1.07,536479.42,103038.91,97207.43,5831.48,0.00,conventional,2015,Boston
...,...,...,...,...,...,...,...,...,...,...
2015-10-04,12,1.64,1130.91,1058.64,1058.64,0.00,0.00,organic,2015,Syracuse
2015-10-04,12,1.47,1402.83,1387.45,1387.45,0.00,0.00,organic,2015,Tampa
2015-10-04,12,1.72,557392.73,188668.89,106372.09,82296.80,0.00,organic,2015,TotalUS
2015-10-04,12,1.61,176416.14,68904.27,2908.21,65996.06,0.00,organic,2015,West
2015-10-04,11,2.01,8059.96,2747.38,2723.34,24.04,0.00,organic,2015,WestTexNewMexico

In [30]:
df_price=df.set_index("AveragePrice")
df_price.loc[1.33]

,Unnamed: 0,Date,Total_Volume,Total_Bags,Small_Bags,Large_Bags,XLarge_Bags,type,year,region
AveragePrice,,,,,,,,,,
1.33,0,2015-12-27,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1.33,14,2015-09-20,69759.01,9267.36,8489.10,778.26,0.0,conventional,2015,Albany
1.33,19,2015-08-16,80043.78,10443.22,10297.68,145.54,0.0,conventional,2015,Albany
1.33,12,2015-10-04,98900.48,57425.67,56141.23,1284.44,0.0,conventional,2015,BuffaloRochester
1.33,33,2015-05-10,170547.18,95285.89,94832.56,453.33,0.0,conventional,2015,BuffaloRochester
...,...,...,...,...,...,...,...,...,...,...
1.33,46,2017-02-12,6425.79,6171.10,5927.54,243.56,0.0,organic,2017,NewOrleansMobile
1.33,0,2018-03-25,57606.42,49973.16,49957.61,15.55,0.0,organic,2018,BaltimoreWashington
1.33,1,2018-03-18,9211.25,7844.02,7815.81,28.21,0.0,organic,2018,GrandRapids
1.33,3,2018-03-04,222950.32,147949.04,119193.36,28755.68,0.0,organic,2018,GreatLakes
1.33,10,2018-01-14,18253.00,14348.08,13243.48,1104.60,0.0,organic,2018,RichmondNorfolk

In [35]:
df_region=df.set_index("region")
df_region.loc["Albany"].value_counts

<bound method DataFrame.value_counts of         Unnamed: 0        Date  AveragePrice  Total_Volume  Total_Bags  \
region
Albany           0  2015-12-27          1.33      64236.62     8696.87
Albany           1  2015-12-20          1.35      54876.98     9505.56
Albany           2  2015-12-13          0.93     118220.22     8145.35
Albany           3  2015-12-06          1.08      78992.15     5811.16
Albany           4  2015-11-29          1.28      51039.60     6183.95
...            ...         ...           ...           ...         ...
Albany           7  2018-02-04          1.52       4124.96     3586.22
Albany           8  2018-01-28          1.32       6987.56     6178.94
Albany           9  2018-01-21          1.54       3346.54     3078.86
Albany          10  2018-01-14          1.47       4140.95     3831.78
Albany          11  2018-01-07          1.54       4816.90     4361.22

        Small_Bags  Large_Bags  XLarge_Bags          type  year
region
Albany     8603.62       93.25          0.0  conventional  2015
Albany     9408.07       97.49          0.0  conventional  2015
Albany     8042.21      103.14          0.0  conventional  2015
Albany     5677.40      133.76          0.0  conventional  2015
Albany     5986.26      197.69          0.0  conventional  2015
...            ...         ...          ...           ...   ...
Albany     3586.22        0.00          0.0       organic  2018
Albany     6178.94        0.00          0.0       organic  2018
Albany     3078.86        0.00          0.0       organic  2018
Albany     3831.78        0.00          0.0       organic  2018
Albany     4357.89        3.33          0.0       organic  2018

[338 rows x 10 columns]>